body{
	background-color: #E9E7E8;
}
.header{
	height: 140px;
	background-color:#D6211A;
	margin: 0 auto;
}
.header h1 {
	color: white;
	margin: 0 auto;
	text-align: center;
}
.header p{
	color: white;
	margin: 0 auto;
	text-align: center;
}
.header img{
	height: 100%;
	float:left;
}


.menu{

	height: 27px;
	background-color:red;
	color: white;
	text-align: center;
}
.menu ul li{
	display: inline;
}
.menu ul li a{
	text-decoration:none;
	font-family: arial;
	text-align: center;
}
.content_kiri{
 height: auto;
 width: 100%;
 background-color: #E3E5E4;
 border-radius: 3px;
}
.subconten_kiri{
	width: 100%;
	background-color :#E0AD80;
	height: 100px;
	border-radius: 3px;

}
.subconten_kiri h1{
	font-family: sans-serif;
	text-align: center;
}
.content_kanan{
 height: 400px;
 width: 100%;
 background-color: blue;
}
.tabel-bordered{
	width: 100%;
}
footer{
	padding: 40px;
	background: #E9E7E8;
	font-family: sans-serif;
}